*{
	margin:0;
	padding: 0;
}
body
{
	font-family: sans-serif;
}
/*------- Footer Section ----------*/

#footer
{
	background-image: linear-gradient(to right, #558ffa,#50d2fa);
	color: #fff; 
}
.footer-img
{
	width: 100%;
	height: 110px;
	padding: 0 0;
	margin: 0 0;
}
.footer-box
{
	padding: 20px;
}
.footer-box img
{
	width: 120px;
	margin-bottom: 6px;
}
.footer-box .fa
{
	margin-right: 8px;
	font-size: 25px;
	height: 40px;
	width: 40px;
	text-align: center;
	padding-top: 7px;
	border-radius: 2px;
	background-image: linear-gradient(to right, #558ffa,#50d2fa);
}
.footer-box .form-control
{
	box-shadow: none !important;
	border: none;
	border-radius: 0;
	margin-top: 25px;
	max-width: 250px;

}
.footer-box .btn-primary
{
	box-shadow: none !important;
	border: none;
	border-radius: 0;
	margin-top: 30px;
	background-image: linear-gradient(to right, #558ffa,#50d2fa);
}
hr
{
	background-color: #fff;
}
.copyright
{
	margin-bottom: 0;
	padding-bottom: 20px;
	text-align: center;
}